.about {
    padding: 80px 0;
    &__row {
        @include flexbox(column, space-between, center);
        padding: 80px 0;
    }
    &__item {
        min-height: 270px;
        @include flexbox (column, space-around, center);
        &--img {
            display: none;
            overflow: hidden;
            padding-top: 3%;

        }
        &--article {
            flex-basis: 60%;
        }
        &--numbers {
            flex-basis: 30%;
        }
    }
    &__numbers {
        @include flexbox(row, space-around, center)
    }
    &__stat {
        @include title-style(16px, white);
        min-width: 160px;
        text-transform: lowercase;
        font-weight: bold;
        padding-top: 90px;
        background-repeat: no-repeat;
        background-position: center top left;
        padding-right: 60px;
        margin-bottom: 30px;
        &--armchair {
            background-image: url(../design/armchair.png);
        }
        &--theatre {
            background-image: url(../design/theatre.png);
        }
    }
    &__img {
        display: block;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
.main-title {
    @include title-style (48px, white);
    font-weight: 300;
    width: 100%;
    text-align: center;
    &__yellow {
        color: $yellow;
    }
}
.subtitle {
    @include title-style(21px, white);
    margin: 40px 0;
    &__yellow {
        color: $yellow;
    }
}