@mixin underline() {
    position: relative;
    overflow: hidden;
    padding-bottom: 6px;
    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 2px;
        background: $yellow;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scale(0);
        transition: 0.4s;
    }
    &:hover::after {
        transform: scale(1);
    }
}

@mixin change-color($color) {
    transition: 0.4s;
    &:hover {
        color: $color;
    }
}

@mixin border($color) {
    transition: 0.2s;
    &:hover {
        border: solid 1px $color;
    }
}

@mixin box-shadow($color) {
    transition: 0.4s;
    &:hover {
        box-shadow: 0 0 20px 1px $color;
    }
}
