.contacts {
    padding: 80px 0;
    &__wrapper {
        @include flexbox (column, space-between, center);
    }
    &__info {
        @include flexbox (row, space-between, center);
        width: 100%;
        padding: 30px 0;
    }
    &__tels-email {
        @include flexbox (column, space-between, center);
        min-height: 65px;
        &--geo {
            align-items: flex-end;
        }
    }
    &__text {
        @include title-style (16px, white);
        text-transform: uppercase;
        font-weight: bold;
        @include underline();
    }
}