.footer {
    &__row {
        border-top: 1px solid #565656;
        @include flexbox (row, space-between, center);
        padding: 30px 0;
    }
    &__text {
        font-size: 12px;
        line-height: 18px;
        color: #989898;
        &--link {
            position: relative;
            &::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(../design/gitlab.png) center no-repeat;
                background-size: cover;
                position: absolute;
                left: -40%;
                top: -20%;
            }
        }
    }
}