.form {
    padding: 50px 0;
    @include grid(repeat(2, 1fr), 1fr 1fr 2fr);
    row-gap: 20px;
    column-gap: 40px;
    &__input {
        padding: 15px;
        outline: none;
        background: transparent;
        background: #444444;
        border: 1px solid #616161;
        &::placeholder {
            font-weight: 600;
            @extend %form-text;
        }
        @include border($yellow);
    }
    &__textarea {
        border: 1px solid #616161;
        grid-column: span 2;
        background: #444444;
        resize: none;
        &::placeholder {
            font-weight: 600;
            @extend %form-text;
            padding: 15px;
            font-family: inherit;
        }
        @include border($yellow);
    }
    &__button {
        @extend %btn;
        border: none;
        display: block;
        margin: 30px auto;
        @include box-shadow(rgba(255, 255, 255, 0.5));
    }
    &__text {
        @extend %form-text;
        grid-column: span 2;
        text-align: center;
    }

}