
.menu {
    display: none;
    padding-bottom: 50px;
    &__item {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: white;
        padding: 0 15px;
        @include underline();
    }
}


.header {
    &__row {
        @include flexbox (row, space-between, center);
        padding: 50px 0;
        position: relative;
    }
}
.tel {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    @include underline();
}