.main {
    background: url(../content/main-img.png) center no-repeat;
    background-size: cover;
    position: relative;
}

.vertical-menu {
    display: none;
    width: 15%;
    height: 100%;
    position: absolute;
    background: rgba(51, 51, 51, 0.75);
    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #C4C4C4;
        transform: rotate(-90deg);
    }
    &__line {
        display: inline-block;
        width: 80px;
        border: 1px solid #C4C4C4;
        transform: rotate(90deg);
    }
}