@media screen and (min-width: 768px) {
    .paragraph {
        text-align: left;
    }
    .about {
        &__row {
            flex-direction: row;
            align-items: flex-start;
        }
        &__item {
            justify-content: flex-start;
            align-items: flex-start;
            width: 40%;
        }
        &__numbers {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .form {
        @include grid (repeat(3, 1fr), repeat(2, 1fr));
        column-gap: 20px;
        row-gap: 20px;
        &__textarea {
            // grid span
        }
        &__row {
            @include flexbox(row, space-between, center);
        }
        &__text {
            text-align: right;
            width: 50%;
        }
        &__button {
            margin: 0;
        }
    }
    
}
@media screen and (min-width:992px) {
    .container {
        width: 65%;
        &--rating {
            width: 70%;
            margin: 0 auto;
        }
    }
    .main {
        min-height: 1045px;
    }
    .header {
        &__row {
            flex-wrap: wrap;
        }
    }
    .menu {
        @include flexbox (row, space-between, center);
        width: 100%;
    }
    .bars {
        display: none;
    }
    .tel {
        &--header {
            display: block;
            margin: 0 auto;
            width: 20%;
            text-align: center;
        }
    }
    .vertical-menu {
        @include flexbox(column, space-around, center);
    }
}
@media screen and (min-width:1920px) {
    .container {
        width: 60%;
    }
    .main-title {
        margin: 50px 0;
    }
    .promo {
        &__slider {
            display: inline-block;
        }
    }
    .about {
        &__item {
            &--img {
                display: inline-block;
            }
            &--numbers {
                padding: 0 40px;
            }
        }
    }

    .contacts {
        &__wrapper {
            flex-direction: row-reverse;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        &__form {
            width: 70%;
        }
        &__info {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 30%;
        }
        &__tels-email {
            padding-top: 10px;
            align-items: flex-start;
            width: 100%;
        }
    }
    .form {
        &__row {
            flex-direction: row-reverse;
        }
        &__text {
            text-align: left;
        }
    }
}