.bars {
    display: inline-block;
    width: 30px;
    height: 20px;
    background: url(../design/bars.png) center no-repeat;
    position: relative;
    transition: 0.4s;
    &:hover ~ .mobile-menu,
    & ~ .mobile-menu:hover {
        display: inline-block;
    }
}




.mobile-menu {
    display: none;
    padding: 40px;
    position: absolute;
    top: 0;
    left: -15%;
    width: 40%;
    height: 800px;
    background: #333333;
    transition: 0.4s;
    &__list {
        @include flexbox(column, space-between, flex-start);
        position: relative;
        &::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 0;
            right: 0;
            background: url(../design/Vectorclose.png) center no-repeat;
        }
    }
    &__item {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: white;
        padding: 17px 0;
        @include underline();
    }
}



.medias {
   @include flexbox (column, space-around, center);
   margin: 0 auto;
   &__link {
       padding: 30px;
       display: inline-block;
       background-position: center;
       background-repeat: no-repeat;
       &--inst {
        background-image: url(../design/instagram--active.png);
       }
       &--fb {
        background-image: url(../design/Vectorfb.png);
       }
       &--vk {
        background-image: url(../design/Vectorvk.png);
       }
       &--yt {
        background-image: url(../design/Vectoryt.png);
       }
   }
   &--mobile-menu {
        @include grid (repeat(2, 1fr), auto);
        padding: 80px 0;
   }
}