.partners {
    padding: 100px 0;
    text-align: center;
}
.partners-grid {
    padding: 100px 0;
    @include grid(repeat(auto-fill, minmax(200px, 1fr)), repeat(2, 1fr));
    column-gap: 30px;
    row-gap: 30px;
    &__item {

    }
    &__link {
        display: inline-block;
    }
    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}