.promo {
    &__row {
        @include flexbox(row, space-between, center);
        padding: 100px 0;
    }
    &__text {
        @include flexbox(column, space-between, flex-start);
        min-height: 300px;
    }
    &__title {
        @include title-style(64px, white);
        font-weight: bold;
    }
    &__btn {
        @extend %btn;
        @include box-shadow(rgba(255, 255, 255, 0.5));
    }
    &__slider {
        display: none;
    }
}
.paragraph {
    @extend %text;
    margin: 0;
    &--promo {
        text-align: left;
    }
}