.projects {
   @include flexbox(column, space-between, center);
   padding-bottom: 80px;
   &__slider {
       width: 80%;
       position: relative;
       padding: 40px 0;
   }
   &__text {
       position: absolute;
       font-weight: bold;
       line-height: 25px;
       letter-spacing: 0.1em;
       text-transform: uppercase;
       color: white;
       

       &--awards {
        font-size: 24px;
        top: 30%;
        left: 10%;
       }
       &--date {
        font-size: 18px;
        transform: rotate(-90deg);
        bottom: 20%;
        left: 0;
       }
   }
}