.container--rating {
    width: 100%;
}
.rating {
    &__wrapper {
        padding: 126px 10px;    
        background: url(../content/raiting-img.png) center no-repeat;
        background-size: cover;
        @include flexbox (row, center, center);
    }
    &__text  {
        @include flexbox (row, space-around, center);
        &--info {
            @include flexbox (column, space-between, flex-start);
            width: 50%;
        }
    }
    &__years {
        @include flexbox (column, space-between, center);
    }
    &__year {
        @include title-style (72px, $yellow);
        font-weight: bold;
    }
    &__stars {
        display: inline-block;
        width: 192px;
        height: 30px;
        background: url(../design/stars.png) center no-repeat;
    }
    &__descr {
        font-weight: bold;
        font-size: 29px;
        line-height: 43px;
        color: #FFFFFF;

    }
}