$yellow: #D1A954;

%text {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
%form-text {
    font-size: 12px;
    line-height: 18px;
    color: #989898;
}
%btn {
    color: white;
    padding: 10px 50px;
    background: $yellow;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
}

@mixin title-style ($fz, $color) {
    font-size: $fz;
    color: $color;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

@mixin flexbox($fd, $jc, $ai) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

@mixin grid ($columns, $rows) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    column-gap: 10px;
    row-gap: 10px;
}
