* {
 box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    background:  #333333;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    width: 80%;
}
@import 'animations';
@import 'tools';
@import 'main';
@import 'header';
@import 'mobile-menu';
@import 'promo';
@import 'about';
@import 'projects';
@import 'rating';
@import 'partners';
@import 'contacts';
@import 'form';
@import 'footer';
@import 'medias';
