* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  background: #333333;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.paragraph {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.form__text, .form__textarea::placeholder, .form__input::placeholder {
  font-size: 12px;
  line-height: 18px;
  color: #989898;
}

.form__button, .promo__btn {
  color: white;
  padding: 10px 50px;
  background: #D1A954;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
}

.main {
  background: url(../content/main-img.png) center no-repeat;
  background-size: cover;
  position: relative;
}

.vertical-menu {
  display: none;
  width: 15%;
  height: 100%;
  position: absolute;
  background: rgba(51, 51, 51, 0.75);
}
.vertical-menu__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
  transform: rotate(-90deg);
}
.vertical-menu__line {
  display: inline-block;
  width: 80px;
  border: 1px solid #C4C4C4;
  transform: rotate(90deg);
}

.menu {
  display: none;
  padding-bottom: 50px;
}
.menu__item {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  padding: 0 15px;
  position: relative;
  overflow: hidden;
  padding-bottom: 6px;
}
.menu__item::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #D1A954;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: 0.4s;
}
.menu__item:hover::after {
  transform: scale(1);
}

.header__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  position: relative;
}

.tel {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  position: relative;
  overflow: hidden;
  padding-bottom: 6px;
}
.tel::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #D1A954;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: 0.4s;
}
.tel:hover::after {
  transform: scale(1);
}

.bars {
  display: inline-block;
  width: 30px;
  height: 20px;
  background: url(../design/bars.png) center no-repeat;
  position: relative;
  transition: 0.4s;
}
.bars:hover ~ .mobile-menu, .bars ~ .mobile-menu:hover {
  display: inline-block;
}

.mobile-menu {
  display: none;
  padding: 40px;
  position: absolute;
  top: 0;
  left: -15%;
  width: 40%;
  height: 800px;
  background: #333333;
  transition: 0.4s;
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.mobile-menu__list::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../design/Vectorclose.png) center no-repeat;
}
.mobile-menu__item {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  padding: 17px 0;
  position: relative;
  overflow: hidden;
  padding-bottom: 6px;
}
.mobile-menu__item::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #D1A954;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: 0.4s;
}
.mobile-menu__item:hover::after {
  transform: scale(1);
}

.medias {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.medias__link {
  padding: 30px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}
.medias__link--inst {
  background-image: url(../design/instagram--active.png);
}
.medias__link--fb {
  background-image: url(../design/Vectorfb.png);
}
.medias__link--vk {
  background-image: url(../design/Vectorvk.png);
}
.medias__link--yt {
  background-image: url(../design/Vectoryt.png);
}
.medias--mobile-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 10px;
  padding: 80px 0;
}

.promo__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
.promo__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 300px;
}
.promo__title {
  font-size: 64px;
  color: white;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}
.promo__btn {
  transition: 0.4s;
}
.promo__btn:hover {
  box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.5);
}
.promo__slider {
  display: none;
}

.paragraph {
  margin: 0;
}
.paragraph--promo {
  text-align: left;
}

.about {
  padding: 80px 0;
}
.about__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}
.about__item {
  min-height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.about__item--img {
  display: none;
  overflow: hidden;
  padding-top: 3%;
}
.about__item--article {
  flex-basis: 60%;
}
.about__item--numbers {
  flex-basis: 30%;
}
.about__numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.about__stat {
  font-size: 16px;
  color: white;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  min-width: 160px;
  text-transform: lowercase;
  font-weight: bold;
  padding-top: 90px;
  background-repeat: no-repeat;
  background-position: center top left;
  padding-right: 60px;
  margin-bottom: 30px;
}
.about__stat--armchair {
  background-image: url(../design/armchair.png);
}
.about__stat--theatre {
  background-image: url(../design/theatre.png);
}
.about__img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.main-title {
  font-size: 48px;
  color: white;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  width: 100%;
  text-align: center;
}
.main-title__yellow {
  color: #D1A954;
}

.subtitle {
  font-size: 21px;
  color: white;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 40px 0;
}
.subtitle__yellow {
  color: #D1A954;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
}
.projects__slider {
  width: 80%;
  position: relative;
  padding: 40px 0;
}
.projects__text {
  position: absolute;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
}
.projects__text--awards {
  font-size: 24px;
  top: 30%;
  left: 10%;
}
.projects__text--date {
  font-size: 18px;
  transform: rotate(-90deg);
  bottom: 20%;
  left: 0;
}

.container--rating {
  width: 100%;
}

.rating__wrapper {
  padding: 126px 10px;
  background: url(../content/raiting-img.png) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rating__text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.rating__text--info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}
.rating__years {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.rating__year {
  font-size: 72px;
  color: #D1A954;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}
.rating__stars {
  display: inline-block;
  width: 192px;
  height: 30px;
  background: url(../design/stars.png) center no-repeat;
}
.rating__descr {
  font-weight: bold;
  font-size: 29px;
  line-height: 43px;
  color: #FFFFFF;
}

.partners {
  padding: 100px 0;
  text-align: center;
}

.partners-grid {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  column-gap: 30px;
  row-gap: 30px;
}
.partners-grid__link {
  display: inline-block;
}
.partners-grid__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contacts {
  padding: 80px 0;
}
.contacts__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contacts__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 0;
}
.contacts__tels-email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}
.contacts__tels-email--geo {
  align-items: flex-end;
}
.contacts__text {
  font-size: 16px;
  color: white;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  padding-bottom: 6px;
}
.contacts__text::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #D1A954;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: 0.4s;
}
.contacts__text:hover::after {
  transform: scale(1);
}

.form {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 2fr;
  column-gap: 10px;
  row-gap: 10px;
  row-gap: 20px;
  column-gap: 40px;
}
.form__input {
  padding: 15px;
  outline: none;
  background: transparent;
  background: #444444;
  border: 1px solid #616161;
  transition: 0.2s;
}
.form__input::placeholder {
  font-weight: 600;
}
.form__input:hover {
  border: solid 1px #D1A954;
}
.form__textarea {
  border: 1px solid #616161;
  grid-column: span 2;
  background: #444444;
  resize: none;
  transition: 0.2s;
}
.form__textarea::placeholder {
  font-weight: 600;
  padding: 15px;
  font-family: inherit;
}
.form__textarea:hover {
  border: solid 1px #D1A954;
}
.form__button {
  border: none;
  display: block;
  margin: 30px auto;
  transition: 0.4s;
}
.form__button:hover {
  box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.5);
}
.form__text {
  grid-column: span 2;
  text-align: center;
}

.footer__row {
  border-top: 1px solid #565656;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.footer__text {
  font-size: 12px;
  line-height: 18px;
  color: #989898;
}
.footer__text--link {
  position: relative;
}
.footer__text--link::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../design/gitlab.png) center no-repeat;
  background-size: cover;
  position: absolute;
  left: -40%;
  top: -20%;
}

@media screen and (min-width: 768px) {
  .paragraph {
    text-align: left;
  }

  .about__row {
    flex-direction: row;
    align-items: flex-start;
  }
  .about__item {
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
  }
  .about__numbers {
    flex-direction: column;
    align-items: flex-start;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    column-gap: 20px;
    row-gap: 20px;
  }
  .form__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .form__text {
    text-align: right;
    width: 50%;
  }
  .form__button {
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 65%;
  }
  .container--rating {
    width: 70%;
    margin: 0 auto;
  }

  .main {
    min-height: 1045px;
  }

  .header__row {
    flex-wrap: wrap;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .bars {
    display: none;
  }

  .tel--header {
    display: block;
    margin: 0 auto;
    width: 20%;
    text-align: center;
  }

  .vertical-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    width: 60%;
  }

  .main-title {
    margin: 50px 0;
  }

  .promo__slider {
    display: inline-block;
  }

  .about__item--img {
    display: inline-block;
  }
  .about__item--numbers {
    padding: 0 40px;
  }

  .contacts__wrapper {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .contacts__form {
    width: 70%;
  }
  .contacts__info {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
  }
  .contacts__tels-email {
    padding-top: 10px;
    align-items: flex-start;
    width: 100%;
  }

  .form__row {
    flex-direction: row-reverse;
  }
  .form__text {
    text-align: left;
  }
}

/*# sourceMappingURL=styles.css.map */
